@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black; 
     color: white; 
}
.left{
    width: 25vw;
    padding: 10px;
}
.close{
    position: relative;
}
.close img{
    position: absolute;
    top: 22px;
    right: 15px;
    width: 37px;
    cursor: pointer;
}
.right{
    width: 75vw;
    position: relative;
    margin: 16px 0px;
}

.home ul li{
    display: flex;
   gap: 15px;
   width: 25px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 700;
}
.home ul li:hover{
    text-decoration: underline;
}
.library{
    min-height: 55vh;
}
.playlist{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 35px;
    padding: 16px 24px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    
}
.footer a{
    color: rgb(167, 167, 167);
    text-decoration: none;
}
.header{
    height: 72px;
    color: rgb(167, 167, 167);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    position:sticky;
    top: 0;
   
}
.arrow{
    width: 58px;
    margin: 0 33px;
}
.header div{
    padding: 18px;
}
.hamsburger{
    position: sticky;
    top: 0;
    left:0;
}
section img{
    position: absolute;
    left: 5px;
    top: -53px;
    width: 34px;
    display: none;
}
.login .btn{
    padding: 15px 35px;
    background-color: white;
    border-radius: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.login .btn1 a{
   color:  grey;
    cursor: pointer;
    text-decoration: none;
}
.login .btn:hover{
    background-color: grey;
    font-size: 1.091em;
    /* font-weight: 750; */
}
.login .btn1{
    padding: 15px 35px;
    background-color:transparent;
    border-radius: 34px;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
    border: none;
    font-weight: 700;
    color: rgb(167, 167, 167);
}
.login .btn1:hover{
    font-size:1.1em ;
}
.spotify-playlist{
    padding: 16px;
}
.spotify-playlist span{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 800;
    Color:#b3b3b3;
    margin-bottom: 20px;
    
}
.spotify-playlist span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.spotify_container{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y:auto;
}
.card{
    width: 200px;
    background: #181818;
    border-radius: 25px;
    padding: 15px;
    position: relative;
}
.card:hover{
    background-color: hwb(0 23% 77%);
    cursor: pointer;
    transition: all 0.8s ease-in-out;
    
}

.card img{
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
    border-radius:13px;
}
.card h2{
    padding: 7px;
    font-family: 'Roboto', sans-serif;;
    font-size: 20px;
    font-weight: 700;
}
.card p{
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.plays{
    width: 40px;
    height: 40px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: 110px;
    opacity: 0;
    transition: all 0.9s ease-out;
}
.play-music{
    position:fixed;
    padding: 7px;
    bottom: 30px;
    background-color: rgb(98 97 97);
    border-radius: 10px;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    gap: 13px;
    min-height: 39px;
    /* margin: auto; */
}
.song-list{
    padding: 0px 20px;
    overflow: auto;
    height: 350px;
}
.song-list ul li{
    list-style-type:decimal;
    display: flex;
    justify-content: space-between;
    gap: 9px;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0;
    padding:12px;
    
}
.info{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 340px;
    font-size: 14px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
   gap:5px;
}
.playnow span{
    font-size: 12px;
}
.controller{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
    margin-bottom: 10px;
}
.volume{
    display: flex;
   gap: 12px;
   cursor: pointer;
}
.range input{
    cursor: pointer;  
}
.volume img{
    width: 25px;
}
.seekbar{
    position: absolute;
    bottom: 5px;
    width: 98%;
    height: 4px;
    border-radius: 10px;
    background-color: #fbfbfb;
    cursor: pointer;
}
.progress{
    background-color:hsl(235, 72%, 54%);
    position: absolute;
    left: 0;
    top: -5px;
    height: 13px;
    width: 13px;
    border-radius: 500px;
    margin-bottom:5px ;
    transition: left  1.5s;
}
.close{
    display: none;
}
.song_control{
    cursor: pointer;
}
.song_info{
    display: flex;
    justify-content: center;
    width: 300px;
}
@media only screen and (max-width: 1240px) {
   .left{
    position: absolute;
    background-color: black;
    left: -120%;
    transition: left .4s;
    z-index: 1;
    width: 380px;
    padding: 0;
   }
   .right{
    width: 100vw;
   }
   .play-music{
    width: 88vw;
    flex-direction: column;
    align-items: center;
   }
   section img{
    display: block;
   }
   .play-music {
    
}
  .seekbar{
    width: 87%;
  }
  .card{
    width: 45vw;
  }
  .close{
    display: block;
  }
  .song_control{
    display: flex;
  }
  .controller{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 13px;
  }
  .spotify_container{
    justify-content: center;
}
 
  }
  @media only screen and (max-width:500px){
    .login{
        display: flex;
        flex-direction: row;
      
    }
    .login .btn{
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
    .login .btn:hover{
        background-color: grey;
        font-size: 0.87em;
        /* font-weight: 750; */
    }
    .login .btn1{
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
    .login .btn1:hover{
      
        font-size:1.04em ;
    }
    .spotify-playlist span{
        padding:14px;
    }
    .card{
        width: auto;
    }
    .spotify_container{
        max-height: 50vh;
    }
    .spotify_container{
        max-height: unset;
        overflow-y: unset;

    }
    .left{
        height: 100vh;
        position: fixed;
    }
  }


